<div  class="container offcanvas-trigger" data-bs-toggle="offcanvas" [attr.data-bs-target]="'#offcanvas-' + recipe.url" [attr.aria-controls]="'offcanvas-' + recipe.url">

    <div class="image-cropper">
        <img [src]="recipe.image" >
    </div>
    <div class="text">
      <h5>{{recipe.label}}</h5>

      <div style="display: flex; justify-content: center; gap:4px">

        <p class="hours" *ngIf="splitMinutes(recipe).hours != 0">{{splitMinutes(recipe).hours}} hrs</p>
        <p class="minutes" *ngIf="splitMinutes(recipe).minutes != 0">{{splitMinutes(recipe).minutes}} Mins</p>
          <p>-</p>
        <p class="energy">{{recipe.calories}} {{recipe.totalNutrients['ENERC_KCAL'].unit}}</p>

      </div>
      <p *ngIf="recipe.missingIngredients.length !== 0" style="color:red">{{recipe.missingIngredients.length}} Missing ingredients</p>
    </div>
      <p class="cautions" *ngIf="recipe.cautions.length !== 0">Contains: {{getCautions(recipe)}}</p>
</div>

<app-recipe-details [recipe]="recipe"></app-recipe-details>


