
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

.no-recipes, .spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  svg{
      margin-bottom: 1rem;
  }
}
.search-bar {
  margin-bottom: 1rem;
}
