

<div class="container">
    <div class="ingredient-filter">
        <app-ingredient-search class="search-bar" (searchTriggered)="handleSearch($event)"></app-ingredient-search>
    </div>
  <p>recipes size: {{recipes.length}}</p>
  <app-fetched-recipes [recipes]="recipes"></app-fetched-recipes>

  <div class="center">
    <app-spinner class="spinner" *ngIf="isLoading"></app-spinner>
    <div class="no-recipes" *ngIf="noRecipesFatched">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
      <h3>You're totally cooking, just not in the kitchen ;)</h3>
      <p>No recipes matched your search criteria<br />Maybe try broadening your search?</p>
    </div>

    <div class="no-recipes" *ngIf="recipeFetchError">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
        <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
      </svg>
      <h3>Error!</h3>
      <p>There was trouble fetching recipes <br />Please try again!</p>
    </div>
  </div>

</div>
