@use '../../../_variables' as *;

ul {
    list-style-type: none;
    z-index: 2;
}
li span{
    margin: 1rem;
}

.chosen-ingredients-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li{
        margin-right: 10px;
        background-color: $grey-background;
        border-radius: 10px;
        padding: 7px;

        &.hover{
            background-color: $grey-background-on-hover;
        }
    }
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.autocomplete-container {
    position: relative;
    width: 300px;
    flex: 1;
}
  
.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}
  
.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.dropdown {
  z-index: 1;
  margin: 2rem 0rem 2rem 0.7rem;

  .dropdown-menu {
    max-height: 40vh;
    overflow-y: scroll;
  }
}
