$pastel-blue:  #AEC6CF;
$grey-text: #666666;
$button-color: #93c760;
$grey-shadow: #b0b0b0;
$image-diameter: 200px;
$panel-top-margin: calc($image-diameter / -2);
$panel-content-top-margin: calc($image-diameter / 2);
$background-color: #f0f0f0;
