@use '../../../_variables.scss' as *;

.image-cropper{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cropper img{
    width: 225px;
    height: 250px;
}
.container{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-align: center;
    width: 300px;
}
.container:hover{
    background-color: $pastel-blue;
}
.text p{
    color: $grey-text;
}

.time{
    font-style: italic;
}